In [1]:
import numpy as np
import pandas as pd
from vectorbt.base.reshape_fns import broadcast

In [4]:
v = 0
a = np.array([1, 2, 3])
sr = pd.Series([1, 2, 3], index=pd.Index(['x', 'y', 'z']), name='a')
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]],
     index=pd.Index(['x2', 'y2', 'z2']),
     columns=pd.Index(['a2', 'b2', 'c2']))
df

    a2  b2  c2
x2   1   2   3
y2   4   5   6
z2   7   8   9

In [5]:
for i in broadcast(
     v, a, sr, df,
     index_from='keep',
     columns_from='keep',
 ): print(i)

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0
   0  1  2
0  1  2  3
1  1  2  3
2  1  2  3
   a  a  a
x  1  1  1
y  2  2  2
z  3  3  3
    a2  b2  c2
x2   1   2   3
y2   4   5   6
z2   7   8   9

In [14]:
sr

x    1
y    2
z    3
Name: a, dtype: int64

In [46]:
df1 = pd.DataFrame([0, 0, 0],
     index=pd.Index(['x', 'y', 'z']),
)
df1

   0
x  0
y  0
z  0

In [47]:
broadcast(sr, df1)

(   0
 x  1
 y  2
 z  3,
    0
 x  0
 y  0
 z  0)

In [22]:
from itertools import product

In [27]:
product(sr, sr)

In [5]:
x = np.arange(1, 5).reshape(4, 1)
np.arange(1, 5)

array([1, 2, 3, 4])

In [8]:
x.shape

(4, 1)

In [4]:
a2d = np.repeat(x, 3, axis=1)
a2d

array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3],
       [4, 4, 4]])